extends layout

block content
    script(type="text/javascript", src="//code.jquery.com/jquery-2.2.0.min.js")
    script(type="text/javascript", src="/javascripts/main.js")
    div(class="pagetop all")

    div(class="pagescroll all")
        div(class="namediv all")
            span(style="font:40px 'Homenaje'")
                |YURI WERGRZN
            span(style="font:32px 'Homenaje'")
                br
                |Software Engineer & Programmer
                br
                |Creative problem solver and innovator
        div(class="scrollarea all")
            div(class="all")
                div(class="leftscroll all")
                    div(class="scrolltext")
                        |ABOUT ME
                div(class="midscroll all")
                    |test
                div(class="rightscroll all")
                    div(style="scrolltext")
                        |I am a Brazillian computer engineer who has been involved in the programming world for the past 9 years.
                        br
                        br
                        |My defining trait is that I'm always excited to take part in new adventures and face the unknown - travel to new places, try new sports, do all things I feel like doing with no fear of failure. 
                        br
                        br
                        |Today I seek to move to Canada, a country that reflects my vision of modern life and society. Moving to another country is no small task or easy feat, which only makes it more of an exciting objective for me.
            div(class="all")
                div(class="leftscroll all")
                    div(class="scrolltext")
                        |EDUCATION
                div(class="midscroll all")
                    |test
                div(class="rightscroll all")
                    div(style="scrolltext")
                        |I have been into the computing world since I was very young. I started by modifying games and creating scripted missions with a passion and curiousity that eventually drove me to seek the computing career.
                        br
                        br
                        |Graduated in Brazil - Technology University of Paraná as a Computer Engineer in 2012, a well-known federal university, my studies have ranged from analog circuitry and robotics to software engineering.
                        br
                        br
                        |Five years of diverse yet disciplined studies have taught me the most important lesson of all - a good developer knows how to implement solutions to problems, rather than simply create code.