extends layout

block content
    script(type="text/javascript", src="/javascripts/init.js")
    div(class="pagetop all")

    div(class="pagescroll all")
        span(style="font:40px 'Homenaje'")
            |YURI WERGRZN