extends layout

block content
    script(type="text/javascript", src="/javascripts/main.js")
    div(class="pagetop all")

    div(class="pagescroll all")
        div(class="all" style="width:100%")
            span(style="font:40px 'Homenaje'")
                |YURI WERGRZN
            span(style="font:32px 'Homenaje'")
                br
                |Software Engineer & Programmer
                br
                |Creative problem solver and innovator