extends layout

block content
    script(type="text/javascript", src="//code.jquery.com/jquery-2.2.0.min.js")
    script(type="text/javascript", src="/javascripts/main.js")
    div(class="blackoverlay")
        div(class="arrowright arrows clickable")
            img(src="/images/arrowright.png")
        div(class="arrowleft arrows clickable")
            img(src="/images/arrowleft.png")
        div(id="aboutme_slide" class="slides")
          ul
            li
                figure
                    img(src="/images/hey.jpg")
                    figcaption
                        |I'm always excited to take part in new adventures and face the unknown
            li
                figure
                    img(src="/images/dog.jpg")
                    figcaption
                        |I like dogs
            li
                figure
                    img(src="/images/offroad.jpg")
                    figcaption
                        |There's nothing like a good adventure! I love traveling & offroad
            li
                figure
                    img(src="/images/treehand.jpg")
                    figcaption
                        |I also have telekinetic powers
        div(id="education_slide" class="slides")
          ul
            li
                figure
                    img(src="/images/panorama_utfpr.jpg")
                    figcaption
                        |UTFPR is a renowned public university. My bachelor's degree took 5 years to get
            li
                figure
                    img(src="/images/campus_UTFPR.jpg")
                    figcaption
                        |My studies were very broad, ranging from analog circuitry to software engineering and AI
            li
                figure
                    img(src="/images/bellator-1.png")
                    figcaption
                        |My graduation project was an autonomous robot guided by a fuzzy cognitive maps navigation algorithm
            li
                figure
                    img(src="/images/rdayRelease.jpg")
                    figcaption
                        |Prior to my graduation, I developed and programmed cooperative game missions and campaigns
                        br
                        |Screenshot: Half Life 2 - Obsidian Conflict
        div(id="work_slide" class="slides")
          ul
            li
                figure
                    img(src="/images/xom_good1_s.jpg")
                    figcaption
                        |In my roles here I automated several manual processes in the company: new user creation, automatic analyst metrics (with SQL database & tableau) and access request workflows
            li
                figure
                    img(src="/images/bao.png")
                    figcaption
                        |BMC Atrium Orchestrator interacts with several technologies such as Unix/Centrify, PowerShell, ITSM Remedy/SRM and more using XML/XSLT, SOAP, REST and web services.
        div(class="back clickable")
            img(src="/images/close.png")
            |RETURN
    div(class="pagetop")

    div(class="pagescroll standardbck")
        div(class="namediv all standardbck")
            span(style="font:40px 'Homenaje'")
                |YURI WERGRZN
            span(style="font:32px 'Homenaje'")
                br
                |Software Engineer & Programmer
                br
                |Creative problem solver and innovator
        div(class="social all")
            div(id="facebook")
                div(class="social_click")
                    a(href="/facebook" target="_newtab")
                span(class="socialtext1")
                    strong
                        a(href="/photography" target="_newtab")
                            |PHOTOGRAPHY
                span(style="display:none;font-size:20px;left:10%;top:10%" parent="socialtext1")
                    |TRAVEL
                span(style="display:none;font-size:15px;left:20%;top:60%" parent="socialtext1")
                    |SEE
                span(style="display:none;font-size:20px;left:10%;top:80%" parent="socialtext1")
                    |MOMENTS
                span(class="socialtext2")
                    strong
                        a(href="/steam" target="_newtab")
                            |GAMING
                span(style="display:none;font-size:17px;left:47%;top:10%" parent="socialtext2")
                    |FANTASY
                span(style="display:none;font-size:17px;left:35%;top:10%" parent="socialtext2")
                    |CHALLENGE
                span(style="display:none;font-size:17px;left:59%;top:10%" parent="socialtext2")
                    |FICTION
                span(style="display:none;font-size:17px;left:43%;top:90%" parent="socialtext2")
                    |COMMUNITY
                span(style="display:none;font-size:17px;left:31%;top:90%" parent="socialtext2")
                    |STORYTELLING
                span(style="display:none;font-size:17px;left:54%;top:90%" parent="socialtext2")
                    |STRATEGY
                span(class="socialtext3")
                    strong
                        a(href="/facebook" target="_newtab")
                            |FACEBOOK
                span(style="display:none;font-size:17px;left:74%;top:10%" parent="socialtext3")
                    |EVENTS
                span(style="display:none;font-size:17px;left:67%;top:90%" parent="socialtext3")
                    |FRIENDS
                span(style="display:none;font-size:17px;left:85%;top:70%" parent="socialtext3")
                    |CHAT
                img(src="/images/social1.png")
            div(id="work")
                div(class="social_click")
                    a(href="/linkedin" target="_newtab")
                span(class="socialtext4")
                    strong
                        a(href="/getresume" target="_newtab")
                            |RESUME
                span(style="display:none;font-size:20px;left:6%;top:65%" parent="socialtext4")
                    |HISTORY
                span(style="display:none;font-size:20px;left:7%;top:78%" parent="socialtext4")
                    |PROFILE
                span(style="display:none;font-size:20px;left:10%;top:90%" parent="socialtext4")
                    |QUALIFICATIONS
                span(class="socialtext5")
                    strong
                        a(href="/linkedin" target="_newtab")
                            |LINKEDIN
                span(style="display:none;font-size:20px;left:88%;top:30%" parent="socialtext5")
                    |CAREER
                span(style="display:none;font-size:20px;left:63%;top:10%" parent="socialtext5")
                    |CONNECTIONS
                span(style="display:none;font-size:20px;left:55%;top:90%" parent="socialtext5")
                    |WORK
                span(style="display:none;font-size:20px;left:52%;top:20%" parent="socialtext5")
                    |REFERRALS
                img(src="/images/work.png")
            div(id="other")
                div(class="social_click")
                    a(href="/email" target="_newtab")
                span(id="SkypeButton_Call_gorranian_1" class="socialtext6")
                    strong
                        a(href="/skype" target="_newtab")
                            |CALL ME
                span(style="display:none;font-size:20px;left:9%;top:15%" parent="socialtext6")
                    |8AM-8PM Eastern Daylight Time
                span(class="socialtext7")
                    strong
                        a(href="/email" target="_newtab")
                            |EMAIL ME
                span(style="display:none;font-size:20px;left:83%;top:75%" parent="socialtext7")
                    |FAST RESPONSE
                img(src="/images/social2.png")
        div(class="scrollarea")
            div(class="all")
                div(class="leftscroll all")
                    div(class="scrolltext")
                        |ABOUT ME
                div(class="midscroll all")
                    div(id="aboutme_click" class="clickable zoomhover")
                        img(src="/images/thumbnail_me.png")
                div(class="rightscroll all")
                    div(style="scrolltext")
                        |I am a Brazillian computer engineer who has been involved in the programming world for the past 9 years.
                        br
                        br
                        |I have the spirit of an adventurer and I want to try everything even if I may fail
            div(class="all")
                div(class="leftscroll all")
                    div(class="scrolltext")
                        |EDUCATION
                div(class="midscroll all")
                    div(id="education_click" class="clickable zoomhover")
                        img(src="/images/thumbnail_utfpr.png")
                div(class="rightscroll all")
                    div(style="scrolltext")
                        |I have graduated in Brazil's Technology University of Paraná as a Computer Engineer in 2012, a well-known federal university.
                        br
                        br
                        |What have I learned? A good developer knows how to implement solutions to problems, rather than simply create code.
            div(class="all")
                div(class="leftscroll all")
                    div(class="scrolltext")
                        |WORK
                div(class="midscroll all")
                    div(id="work_click" class="clickable zoomhover")
                        img(src="/images/work_thumbnail.png")
                div(class="rightscroll all")
                    div(style="scrolltext")
                        |I have joined ExxonMobil in 2012 as a full time employee. I started as an internal tools developer within Customer Services department, performing some frontline customer handling and C# tools development.
                        br
                        br
                        |My current role is a full time automation developer. I have 2-3 years experience with C# .NET and 1 year with BMC Atrium Orchestrator and a lot of experience with the Windows environment.
            div(class="all")
                div(class="leftscroll all")
                    div(class="scrolltext")
                        |INTERESTED?
                div(class="midscroll all")
                div(class="rightscroll all")
                    div(style="scrolltext")
                        |Scroll down for resume and contact details!
    div(id="bottom" class="standardbck")
    div(id="backtop" class="clickable")
        a(href="#")
            |BACK TO TOP