extends layout

block content
    script(type="text/javascript", src="//code.jquery.com/jquery-2.2.0.min.js")
    script(type="text/javascript", src="/javascripts/main.js")
    div(class="pagetop all")

    div(class="pagescroll all")
        div(class="namediv all")
            span(style="font:40px 'Homenaje'")
                |YURI WERGRZN
            span(style="font:32px 'Homenaje'")
                br
                |Software Engineer & Programmer
                br
                |Creative problem solver and innovator
        div(class="scroll1 all")
            div(class="leftscroll all")
                span
                    |ABOUT ME
            div(class="midscroll all")
                |test
            div(class="rightscroll all")
                |I am a Brazillian computer engineer who has been involved in the programming world for the past 9 years.
                br
                br
                |My defining trait is that I'm always excited to take part in new adventures and face the unknown - travel to new places, try new sports, do all things I feel like doing with no fear of failure. 
                br
                br
                |Today I seek to move to Canada, a country that reflects my vision of modern life and society. Moving to another country is no small task or easy feat, which only makes it more of an exciting objective for me.