body
  font: 14px "Homenaje", Helvetica, Arial, sans-serif
  margin:0
  min-width:1000px
a
  color: #00B7FF
.all
	display:block
	position:absolute
	width:100%
.pagetop
	position:relative
	height:70vh
	background-image:url('/images/banner0_portfolio_yuri.jpg')
	background-repeat:no-repeat
	background-attachment:fixed
	background-position: center center
	background-size:cover
	min-width:1000px
.pagescroll
	text-align:center
	top:70%
	min-width:1000px
	width:100%
	background-color:rgb(230,230,230)
.namediv
	background-color:rgb(230,230,230)
	z-index:2
.fixedname
	position:fixed
	top:0
.leftscroll
	position:relative
	display:inline-block
	width:40%
	font:60px 'PT Sans Narrow'
	color:rgb(50,50,50)
	text-align:right
	vertical-align:middle
.midscroll
	position:relative
	display:inline-block
	width:20%
	vertical-align:middle
.rightscroll
	position:relative
	display:inline-block
	width:40%
	font:20px 'PT Sans Narrow'
	text-align:left
	vertical-align:middle
.scrollarea
	padding-top:300px
.scrollarea > div
	position:initial
	display:inline-block
	margin-top:50px
.scrolltext
	padding:10px
.blackoverlay
	display:none
	background-color:rgba(0,0,0,0.7)
	position:fixed
	top:0
	left:0
	width:100%
	height:100%
	z-index:10
.slides
	display:none
	width:70%
	height:70%
	position:relative
	margin-left:auto
	margin-right:auto
	top:40%
	transform: translateY(-50%)
.clickable
	cursor:pointer
.slides ul
	width:100%
	height:100%
	position:relative
	margin:0
	padding:0
	list-style-type:none
.slides li:first-of-type
	display:block
.slides li
	width:100%
	height:100%
	position:absolute
	display:none
.slides img, figure
	display:block
	max-width:100%
	max-height:100%
	height:100%
	margin-left:auto
	margin-right:auto
	position:relative
	text-align:center
	font: 20px "PT Sans Narrow", Helvetica, Arial, sans-serif
	color:rgb(200,200,200)
.arrows
	position:fixed
	height:100%
	width:5%
	transition: 0.5s ease-in-out
	opacity:0.6
.arrows:hover
	opacity:1
.arrowleft
	left:0
	top:0
.arrowright
	position:fixed
	left:95%
	top:0
.arrows img
	position:relative
	top:50%
	transform:translateY(-50%)
	max-width:100%
	max-height:100%
.back
	position:fixed
	top:90%
	left:50%
	transform:translateX(-50%)
	font:30px 'PT Sans Narrow'
	background-color:rgba(255,255,255,0.4)
	color:rgb(30,30,30)
	padding:5px
.back:hover
	background-color:rgba(255,255,255,0.6)
.back img
	vertical-align:sub
	margin-right:3px
.zoomhover
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
.zoomhover:hover, .zoomhover:focus, .zoomhover:active 
	-webkit-transform: scale(1.2)
	transform: scale(1.2)
	-webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36)
	transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36)
.social
	position:absolute
	width:105vw
	left:-100vw
	height:50vh
	top:120vh
	transform:translateY(-50%)
	z-index:9
.fixedsocial
	position:fixed
	top:50%
.social img
	max-width:100%
	max-height:100%
.social div
	position:relative
	margin-bottom:5px
	padding:0
	border-radius:6px
	background:rgba(200,200,200,0.7)
	background-position:left top
	background-repeat:repeat
.social div:hover
	background: rgba(200,200,200,0.9)
#bottom
	width:100%
	height:600vh
	background:rgb(230,230,230)
.social span
	color:white
	font-size:20px
	position:absolute
	top:50%
	transform:translate(-50%,-50%)
.socialtext1
	left:5%
.socialtext2
	left:45%
.socialtext3
	left:75%