body
  font: 14px "Homenaje", Helvetica, Arial, sans-serif
  margin:0
a
  color: #00B7FF
.all
	display:block
	position:absolute
	width:100%
.pagetop
	position:fixed
	height:70%
	background-image:url('/images/banner0_portfolio_yuri.jpg')
	background-repeat:no-repeat
	background-attachment:fixed
	background-position: center center
	background-size:cover
	min-width:1000px
.pagescroll
	text-align:center
	top:70%
	height:3000px
	min-width:1000px
	background-color:rgb(230,230,230)
.namediv
	background-color:rgb(230,230,230)
	z-index:2
.fixedname
	position:fixed
	top:0
.leftscroll
	position:relative
	display:inline-block
	width:40%
	font:60px 'PT Sans Narrow'
	color:rgb(50,50,50)
	text-align:right
	vertical-align:middle
.midscroll
	position:relative
	display:inline-block
	width:20%
	vertical-align:middle
.rightscroll
	position:relative
	display:inline-block
	width:40%
	font:20px 'PT Sans Narrow'
	text-align:left
	vertical-align:middle
.scrollarea
	margin-top:300px
.scrollarea > div
	position:initial
	display:inline-block
	margin-top:50px
.scrolltext
	padding:10px
.blackoverlay
	display:none
	background-color:rgba(0,0,0,0.7)
	position:fixed
	top:0
	left:0
	width:100%
	height:100%
	z-index:10
.slides
	text-align:center
	vertical-align:center
	width:70%
	height:70%