body {
  font: 14px "Homenaje", Helvetica, Arial, sans-serif;
  margin: 0;
}
a {
  color: #00b7ff;
}
.all {
  display: block;
  position: absolute;
  width: 100%;
}
.pagetop {
  position: fixed;
  height: 70%;
  background: url("/images/coffee.png") no-repeat center center fixed;
  background-size: cover;
  min-width: 1000px;
}
.pagescroll {
  text-align: center;
  top: 70%;
  height: 3000px;
  min-width: 1000px;
  background-color: #e6e6e6;
}
.namediv {
  background-color: #e6e6e6;
  z-index: 2;
}
.fixedname {
  position: fixed;
  top: 0;
}
.leftscroll {
  position: relative;
  display: inline-block;
  width: 40%;
  font: 60px 'PT Sans Narrow';
  color: #323232;
  text-align: right;
  vertical-align: middle;
}
.midscroll {
  position: relative;
  display: inline-block;
  width: 20%;
  background-color: #c8c8c8;
}
.rightscroll {
  position: relative;
  display: inline-block;
  width: 40%;
  font: 20px 'PT Sans Narrow';
  text-align: left;
  vertical-align: middle;
}
.scroll1 {
  margin-top: 300px;
}
